.footer {
  margin-top: 71px;
  height: 630px;
  position: relative;
  &__info {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 460px;
    height: 270px;
    background-color: $main-color;
    padding: 50px 68px 60px 68px;
  }
  &__addr {
    margin-bottom: 36px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    line-height: 20px;
  }
  &__phone {
    display: block;
    margin-bottom: 38px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    line-height: 20px;
    &:hover {
      color: #ffffff;
      text-decoration: underline;
    }
  }
  &__social {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__social-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 2px solid #ffffff;
    border-radius: 100%;
    margin: 0 15px;
    transition: 0.3s;
    img {
      height: 27px;
    }
    &:hover {
      background-color: rgb(146, 21, 7);
    }
  }

  iframe {
    width: 100%;
    height: 630px;
    border: none;
  }
}
