.price {
  padding-top: 60px;
  &__wrapper {
    padding: 60px 50px 0 50px;
    display: grid;
    grid-template-columns: repeat(2, minmax(365px, auto));
    grid-template-rows: repeat(3, minmax(44px, auto));
    grid-auto-rows: minmax(44px, auto);
    justify-content: space-between;
    row-gap: 15px;
  }
  &__item {
    position: relative;
    display: grid;
    grid-template: repeat(2, minmax(21px, auto)) / repeat(2, auto);
    row-gap: 5px;
    padding-left: 25px;
    &:before {
      content: "";
      width: 15px;
      height: 15px;
      background-color: $main-color;
      border-radius: 100%;
      position: absolute;
      top: 5px;
    }
    &-name,
    &-num {
      font-size: 14px;
      line-height: 21px;
      font-weight: bold;
    }
    &-num {
      justify-self: end;
    }
    &-descr {
      grid-row: 2 / 3;
      font-size: 12px;
      line-height: 18px;
    }
  }
}
